*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

body{
    background: cyan
}


h1{
    justify-content: center;
    align-items: center;
    display: flex;
    padding: 2rem;
    font-family: sans-serif;
}

.Box3{
    border: 5px solid black;
    display: flex;
    flex-direction: column;
    width: 30rem;
    height: 30rem;
    gap: 3rem;
    margin: 3rem;

}
.Box2{
border: 5px solid black;
display: flex;
justify-content: flex-end;  
align-items: flex-start;    
flex-direction: row ;     
width: 30rem;
height: 30rem;
gap: 3rem;
margin: 3rem;
}


h2
{
    display: flex;
    justify-content: center;
    font-family: sans-serif;
}

.Box1{
    
    
}

